.custom-button {
    background-color: #1a7343; /* Change to your desired color */
    color: #ffffff; /* Change to your desired text color */
    border-color: #1a7343; /* Change to your desired border color */
}
.list-excel {
    .ant-upload-list-text {
        width: 400px;
    }
}
